@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;800&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    background-color: #000;
    overflow-x: hidden;
}

@keyframes progress {
    0% { width: 0%; }
    100% { width: 100%; }
}

.animate-progress {
    animation: progress 3s linear forwards;
}

.btn-theory {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-theory:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(250, 204, 21, 0.5); /* Yellow shadow */
}

.bell-shake:hover i {
    animation: shake 0.5s ease-in-out infinite;
}

@keyframes shake {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(15deg); }
    75% { transform: rotate(-15deg); }
}
